{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block page_header %} Dashboard {% endblock %}

{% block body %}

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Basics</a>
            </li>
            <li role="presentation"><a href="#web-dev" aria-controls="web-dev" role="tab" data-toggle="tab">Web Dev</a>
            </li>
            <li role="presentation"><a href="#data-analysis" aria-controls="data-analysis" role="tab"
                                       data-toggle="tab">Data Anaylysis</a></li>
        </ul>


    {% macro list_content(content_dict) %}
        <li><a href="{{ content_dict[1] }}">{{ content_dict[0] }}</a></li>
    {% endmacro %}



        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="basics">
                <ul>
                {% for t in TOP_CONTENT['Basics'] %}
                    {{ list_content(t) }}
                {% endfor %}
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="web-dev">...</div>
            <div role="tabpanel" class="tab-pane" id="data-analysis">...</div>
        </div>

    </div>

{% endblock %}